:root {
    --font: verdada,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --header-height: 52px;

    --icon-size-n: 20px;
    --icon-size-s: 15px;

    --root-font-size: 10px;
    --font-size-n: 1.1rem;
    --font-size-s: 1rem;

    --color: #efe8e8;
    --color-bg: #3d3d3d;
    --color-bright: #fff;
    --color-hover: #4f4d4d;

    accent-color: #3d3d3d;
    color-scheme: dark;
}
